@media (max-width: 1024px){
    body{
        background-color: rgb(255,255,255);
    }
    .background{
        display: none;
    }
    .background-top{
        display: none;
    }
    .background-bottom{
        display: none;
    }
    .hrst{
        gap: 57.37px;
        overflow: hidden;
        background: url(assets/head-background-bottom-mobile.svg) no-repeat;
        background-size: cover;
    }
    .background-top-mobile{
        width: 100%;
        height: 300px;
        display: inline-block;
        position: absolute;
        object-position: 70% bottom;
        z-index: -1;
        object-fit: cover;
    }
    .head{
        margin-top: 22px;
        padding: 0 32px;
        justify-content: space-between;
        gap: 0;
    }
    .head-logo{
        max-width: 111px;
    }
    .head-logo img{
        max-width: 21.493797302246094px;
        height: 23.26594352722168px;
    }
    .head-logo-text{
        font-size: 20.18px;
    }
    .head-menu{
        display: none;
    }
    .head-button{
        display: none;
    }
    .head-list{
        display: inline-block;
    }
    .desktop{
        display: none;
    }
    .hrst-container{
        flex-direction: column;
        gap: 33.77px;
        padding:0 32px;
    }
    .hrst-content-box{
        max-width: 326px;
        left: 0;
    }
    .hrst-content-box-tittle{
        padding-right: 50px;
        font-size: 38.34px;
    }
    .hrst-content-box-text{
        padding-right: 50px;
        margin-top: 10.49px;
        font-size: 14.14px;
    }
    .hrst-content-box-button{
        margin-top: 30.16px;
        max-width: 162px;
        min-height: 40.5px;
        border: 0.81px solid rgba(171, 163, 163, 0.2);
        border-radius: 3.24px;
        font-size: 14.58px;
    }
    .hrst-logo{
        display: inline-block;
        margin: 0 15px 30px 15px;
        display: flex;
        justify-content: space-between;
    }
    .body{
        padding-top: 40px;
    }
    .slide1{
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .desktop-mobile{
        display: inline-block;
        width: 100%;
        max-width: 315.16650390625px;
        height: 179.12554931640625px;
        background: url(assets/desktop.svg) no-repeat;
        background-size: cover;
    }
    .slide1-container-left{
        display: none;
    }
    .slide1-container-container{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .slide1-container-right{
        min-height: 0;
        max-width: fit-content;
        padding: 33px 0 0 27px;
        margin: 0 8px;
    }
    .slide1-container-right-img-mobile{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .slide1-container-right-img{
        display: none;
    }
    .slide1-container-right-content{
        max-width: 100%;
        min-height: auto;
    }
    .slide1-container-right-content-tittle{
        font-size: 24px;
    }
    .slide1-container-right-content-text{
        margin-top: 12px;
        font-size: 16px;
    }
    .slide1-container-right-content-link-text{
        margin-top: 12px;
        font-size: 14px;

    }
    .slide1-container-right-content-link-icon{
        display: none;
    }
    .slide2{
        display: none;
    }
    .slide3{
        margin-top: 57px;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .box1{
        margin: 0;
    }
    .slide3-img-mobile{
        display: inline-block;
        order: -1;
        width: 100%;
        max-width: 260px;
        height: auto;
        transform: scaleX(-1);
    }
    .slide3-img{
        display: none;
    }
    .slide-box br{
        display: none;
    }
    .slide-box{
        max-width: fit-content;
        min-height: auto;
        padding: 22.35px 0 0 36px;
        margin: 0 8px;
    }
    .slide-box-icon{
        max-width: 50px;
        height: auto;
    }
    .slide-box-content-tittle-top{
        font-size: 12.78px;
    }
    .slide-box-content-tittle{
        font-size: 24px;
        margin-top: 2px;
    }
    .slide-box-content-text{
        font-size: 14.61px;
        margin-top: 10px;
    }
    .slide-box-content-link-text{
        font-size: 12.78px;
    }
    .slide-box-content-link-icon{
        display: none;
    }
    .slide4{
        margin-top: 33.21px;
        flex-direction: column;
        align-items: center;
        gap: 41.37px;
    }
    .slide4-img{
        top: 0;
        max-width: 295.3926696777344px;
        height: auto;
    }
    .slide5{
        margin-top: 41,37px;
        flex-direction: column;
        gap: 42.03px;
        align-items: center;
    }
    .slide5-img{
        order: -1;
        max-width: 100%;
        background-size: contain;
        background-position: center;
    }
    .slide6{
        background: url(assets/slide6-background-mobile.svg) no-repeat;
        background-size: cover;
        padding: 70px 0;
        min-height: auto;
    }
    .slide6-box{
        padding: 0;
        margin: 0;
        min-height: 62px;
    }
    .slide6-container{
        top: 0;
        flex-direction: column;
        gap: 74px;
        align-items: center;
    }
    .slide6-box-tittle{
        margin: 0 auto;
        padding: 0 30px;
        max-width: 264px;
        text-align: center;
        font-size: 24px;
    }
    .slide6-box-text{
        display: none;
    }
    .slide6-avt-1{
        display: none;
    }
    .slide6-avt-3{
        display: none;
    }
    .slide6-avt-4{
        display: none;
    }
    .slide6-avt-5{
        display: none;
    }
    .slide6-box-right{
        max-width: 367px;
        min-height: auto;
    }
    .slide6-box-right-content{
        margin: 0;
    }
    .slide6-box-right-content-text{
        font-size: 14px;
    }
    .slide6-box-right-content-tittle{
        font-size: 21.12px;
    }
    .slide6-box-right-content-tittle-bottom{
        margin-top: 4px;
        font-size: 14.08px;
    }
    .slide6-box-right-content-circel{
        display: inline-block;
        display: flex;
        gap: 8px;
        margin-top: 42px;
    }
    .slide6-box-right-content-circel-none{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: rgba(67, 68, 114, 1);
    }
    .slide6-box-right-content-circel-light{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    .slide6-box-icon{
        display: none;
    }
    .background-body{
        display: none;
    }
    .slide6-img-left{
        display: none;
    }
    .slide6-img-right{
        display: none;
    }
    .foot{
        height: fit-content;
        min-height: auto;
        padding: 70px 0;
    }
    .foot-container-top{
        display: none;
    }
    .foot-container{
        top: 0;
        max-width: 216px;
        padding: 0;
        flex-direction: column;
        gap: 48px;
    }
    .foot-container-box{
        gap: 30px;
        margin: 0;
        text-align: center;
    }
    .foot-container-box-tittle{
        font-size: 14px;
    }
    .foot-container-box-bottom-text{
        font-size: 14px;
    }
    .foot-logo-mobile{
        max-width: auto;
        margin: 0 auto;
    }
    .foot-logo-icon{
        display: none;
    }
    .foot-logo-bottom{
        display: none;
    }
    .foot-mobile-bottom{
        display: inline-block;
    }
    .foot-logo-icon-mobile{
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .foot-logo-bottom-mobile{
        margin-top: 22.27px;
        display: flex;
        justify-content: center;
        gap: 11.21px;
    }
    .foot-logo-bottom-img-mobile{
        width: 11.958478927612305px;
        height: 11.958478927612305px;
    }
    .foot-logo-bottom-text-top-mobile{
    font-weight: 700;
    font-size: 10.46px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
    }
    .foot-logo-bottom-text-bottom-mobile{
    font-weight: 700;
    font-size: 10.46px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);

    }
}