@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Condensed', sans-serif;
}
body{
    background-color: rgb(247,243,250);
}
.hrst{
    width: 100%;
    display: flex;
    gap: 160px;
    flex-direction: column;
    align-items: center;
    background: url(assets/head-background-bottom.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
}
.background{
    width: 100%;
}
.background-top{
    width: 100%;
    height: 180px;
    position: absolute;
    object-position: bottom;
    object-fit: cover;
    z-index: 0;
}
.background-bottom{
    position: absolute;
    width: 100%;
    height: 644.97px;
    object-fit: cover;
    object-position: bottom;
    z-index: -2;
}
.background-top-mobile{
    display: none;
}
.background-bottom-mobile{
    display: none;
}
.head{
    margin-top: 30px;
    width: 100%;
    max-width: 1500px;
    padding: 0 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.head-logo{
    width: 100%;
    max-width: 198px;
    display: flex;
    gap: 8.35px;
    align-items: center;
}
.head-logo img{
    width: 100%;
    max-width: 38.34028625488281px;
    height: 41.50141143798828px;
}
.head-logo-text{
    width: 100%;
    max-width: 151px;
    font-size: 36px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
}
.head-menu{
    width: 100%;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    gap: 38px;
}
.head-menu-text{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
.head-button{
    width: 100%;
    max-width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.head-button-left{
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
.head-button-right{
    width: 100%;
    max-width: 130px;
    min-height: 43px;
    border-radius: 96px;
    background-color: rgba(255, 188, 81, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.head-list{
    display: none;
}
.hrst-container{
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
}
.hrst-content-box{
    width: 100%;
    max-width: 421px;
    position: relative;
    left: 168px;
}
.hrst-content-box-tittle{
    padding-right:30px ;
    font-weight: 800;
    font-size: 54.76px;
    color: rgba(255, 255, 255, 1);
}
.hrst-content-box-text{
    margin-top: 18.25px;
    color: rgba(255, 255, 255, 1);
    font-size: 18.25px;
    font-weight: 400;
}
.hrst-content-box-button{
    margin-top: 38.02px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 200px;
    min-height: 50px;
    background-color: rgba(121, 138, 201, 1);
    border: 1px solid rgba(171, 163, 163, 0.2);
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
.desktop{
    width: 100%;
    max-width: 1222.83349609375px;
    height: auto;
    top: -150px;
    position: relative;
}
.hrst-logo{
    display: none;
}
.body{
    width: 100%;
    padding-top: 79px;
    position: relative;
}
.background-body{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(assets/background-body.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
    top: 400px;
    z-index: -3;
}
.slide1{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 83px;
}
.desktop-mobile{
    display: none;
}
.slide1-container-right{
    width: 100%;
    max-width: 377px;
    min-height: 300px;
    position: relative;
    padding: 42px 0 0 46px;
}
.slide1-container-right-img-mobile{
    display: none;
}
.slide1-container-right-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.slide1-container-right-content{
    max-width: 331px;
    min-height: 258px;
}
.slide1-container-right-content-tittle{
    font-weight: 800;
    font-size: 40px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
}
.slide1-container-right-content-tittle span{
    color: rgba(92, 14, 98, 1);
}
.slide1-container-right-content-text{
    margin-top: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
    padding-right: 70px;
}
.slide1-container-right-content-link{
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 16px;
}
.slide1-container-right-content-link-text{
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(92, 14, 98, 1);
}
.slide1-container-left{
    margin-top: 121px;
    width: 100%;
    max-width: 606.999755859375px;
    min-height: 424.337890625px;
    display: flex;
    gap: 45.82px;
}
.slide1-container-left-right{
    margin-top: 60.34px;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.slide1-container-box{
    width: 100%;
    padding: 29.66px 48px 30.34px 30.75px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 7px 10px 50px 0px rgba(232, 226, 240, 1);
    position: relative;
}
.slide1-container-box-bar{
    width: 5px;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    background: linear-gradient(150.72deg, #00B5D0 3.87%, #5C0E62 110.68%);
    box-shadow: 7px 10px 50px 0px rgba(232, 226, 240, 1);
    border-radius: 10px 0 0 10px;
}
.slide1-container-box-tittle{
    margin-top: 2px;
    font-weight: 700;
    font-size: 22px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(92, 94, 110, 1);
}
.slide1-container-box-text{
    padding-right: 20px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 7.5%;
    color: rgba(117, 111, 111, 1);
}
.slide1-container-left-left{
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.slide2{
    margin-top: 69.72px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 834.1331787109375px;
    justify-self: center;
}
.slide3{
    margin-top: 69.55px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 123.73px;
}
.slide3-img{
    width: 100%;
    max-width: 522.032470703125px;
    height: 480.1021423339844px;
    background: url(assets/slide3-img.svg) no-repeat;
    background-size: cover;
}
.slide3-img-mobile{
    display: none;
}
.slide-box{
    width: 100%;
    max-width: 344.27105712890625px;
    min-height: 251.35462951660156px;
    position: relative;
    padding: 38.35px 0 0 42px;
}
.slide-box-icon{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.slide-box-content-tittle-top{
    font-weight: 700;
    font-size: 12.78px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(226, 52, 52, 1);
}
.slide-box-content-tittle{
    margin-top: 4px;
    font-weight: 800;
    font-size: 36.53px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
}
.slide-box-content-tittle span{
    color: rgba(92, 14, 98, 1);
}
.slide-box-content-text{
    margin-top: 4px;
    font-weight: 700;
    font-size: 14.61px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
    padding-right: 80px;
}
.slide-box-content-link{
    margin-top: 16px;
    display: flex;
    gap: 13px;
    align-items: center;
}
.slide-box-content-link-text{
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(92, 14, 98, 1);
}
.box1{
    margin-top: 95.76px;
}
.slide4{
    width: 100%;
    max-width: 1084px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    justify-self: center;
}
.slide4-img{
    position: relative;
    top: -104px;
}
.slide5{
    margin-top: 50px;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: flex-end;
    justify-self: center;
}
.slide5-img{
    width: 100%;
    max-width: 707.4881591796875px;
    height: 351.77667236328125px;
    background: url(assets/slide5-img.svg) no-repeat;
    background-size: cover;
}
.slide6{
    margin-top: 70px;
    max-width: 100%;
    min-height: 996px;
    background: url(assets/slide6-background.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}
.slide6-box{
    margin-top: 358px;
    padding: 49px 0 0 46px;
    width: 100%;
    max-width: 484px;
    min-height: 183px;
    position: relative;
}
.slide6-box-icon{
    width: 88px;
    height: 91px;
    position: absolute;
    top: 0;
    left: 0;
}
.slide6-box-tittle{
    padding-right: 80px;
    font-weight: 800;
    font-size: 40px;
    line-height: 129%;
    letter-spacing: 10%;
    color: rgba(255, 255, 255, 1);
}
.slide6-box-tittle span{
    color: rgba(92, 14, 98, 1);
}
.slide6-box-text{
    padding-right: 80px;
    margin-top: 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(255, 255, 255, 1);
}
.slide6-container{
    width: 100%;
    display: flex;
    position: relative;
    top: 167.36px;
    justify-content: center;
    gap: 130px;
}
.slide6-box-right{
    width: 100%;
    max-width: 623px;
    min-height: 559px;
    position: relative;
}
.slide6-box-right-content{
    width: 100%;
    max-width: 367px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 72px;
    z-index: 1;
}
.slide6-box-right-content-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 129%;
    letter-spacing: 4%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 0 40px;
}
.slide6-box-right-content-tittle{
    margin-top: 11.32px;
    font-weight: 900;
    font-size: 21.12px;
    line-height: 129%;
    letter-spacing: 7.5%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 188, 81, 1);
    text-align: center;
}
.slide6-box-right-content-tittle-bottom{
    margin-top: 4.68px;
    font-weight: 700;
    font-size: 14.08px;
    line-height: 129%;
    letter-spacing: 4%;
    text-align: center;
    color: rgba(255, 188, 81, 1);
    text-align: center;
}
.slide6-avt-1{
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 0;
}
.slide6-avt-3{
    position: absolute;
    right: 70px;
    top: 251px;
    z-index: 0;
}
.slide6-avt-4{
    position: absolute;
    right: 299px;
    bottom: 0;
    z-index: 0;
}
.slide6-avt-5{
    position: absolute;
    right: 0;
    bottom: 8px;
    z-index: 0;
}
.slide6-box-right-content-circel{
    display: none;
}
.slide6-img-left{
    position: absolute;
    left: 0;
    top: -382px;
}
.slide6-img-right{
    position: absolute;
    right: 0;
    top: -220px;
}
.foot{
    background-color: #5C0E62;
    width: 100%;
    min-height: 689px;
    background-color: rgba(33, 9, 51, 1);
    position: relative;
}
.foot-container-top{
    margin: 0 auto;
    width: 100%;
    max-width: 1101px;
    min-height: 182px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: relative;
    top: -91px;
    display: flex;
    justify-content: center;
    gap: 71px;
    padding: 66px 0 61px 0;
    position: relative;
}
.foot-container-top-icon{
    position: absolute;
    top: -45px;
    left: -44px;
    z-index: -1;
}
.foot-container-top-tittle{
    z-index: 2;
    position: relative;
    font-weight: 800;
    font-size: 40px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
}
.foot-container-top-tittle span{
    color: rgba(92, 14, 98, 1);
}
.foot-container-top-button{
    background-color: rgba(255, 188, 81, 1);
    width: 100%;
    max-width: 200px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    backdrop-filter: blur(18px);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.foot-container{
    position: relative;
    top: 80px;
    width: 100%;
    max-width: 1101px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
}
.foot-logo{
    width: 100%;
    max-width: 198px;
}
.foot-logo-icon{
    display: flex;
    gap: 32px;
    margin-top: 52px;
}
.foot-logo-bottom{
    display: flex;
    gap: 11px;
    margin-top: 40px;
}
.foot-logo-bottom-text-top{
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
    text-align: center;
}
.foot-logo-bottom-text-bottom{
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
    text-align: center;
}
.foot-container-box{
    margin-top: 29px;
    display:flex;
    flex-direction: column;
    gap: 51px;
}
.foot-box1{
    margin: 29px 0 0 160px;
}
.foot-container-box-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foot-container-box-tittle{
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(255, 255, 255, 1);
}
.foot-container-box-bottom-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 4%;
    color: rgba(133, 120, 133, 1);
}
.foot-box2{
    margin-left: 129px;
}
.foot-box3{
    margin-left: 112px;
}
.foot-mobile-bottom{
    display: none;
}